{$PROTOCOL:http}://{$DOMAIN:localhost} {
	handle /auth* {
		reverse_proxy auth:80
	}

	handle /api* {
		reverse_proxy api:80/api
	}

	handle /api/docs/* {
		uri strip_prefix /api
		reverse_proxy api:80
	}

	handle {
		reverse_proxy website:80
	}
}