{$PROTOCOL:http}://auth.{$DOMAIN:localhost} {
	reverse_proxy http://keycloak:8080
}

{$PROTOCOL:http}://fin.{$DOMAIN:localhost} {
	reverse_proxy financeiro_api:80
}

{$PROTOCOL:http}://{$DOMAIN:localhost} {
	handle {
		respond 404
	}
}